<%= form_for @club do |f| %>
	<% if @club.errors.any? %>
		<h2><%= pluralize(@club.errors.count, "error") %> prevented this club from saving:</h2>
		<ul>
			<% @club.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>

		<% end %>
		<div class="form-group">
			
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
		</div>

		
		<div class="form-group">
			<%= f.label :abbrev %>
			<%= f.text_field :abbrev, class: 'form-control' %>
	
		</div>
		

		<%= f.submit 'Submit', class: "btn btn-default" %>
<% end %>