<h1 class="sub-header">Clubs</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Abbrev</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @clubs.each do |club| %>
        <tr>
          <td><%= club.id %></td>
          <td><%= club.name %></td>
          <td><%= club.abbrev %></td>
          <td>
            <%= link_to edit_club_path(club) do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <% end %>
          </td>
          <td>
            <%= link_to club_path(club), method: 'delete', data: {confirm: 'Are you sure?'} do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
