<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">

            <% @posts.each do |post| %>

            <div class="post-preview">
                 <%= link_to(post) do %>
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                 <% end %>
                <p class="post-meta">Opublikował <%= link_to "Rafał Nater", contact_path %> dnia <%= I18n.l post.created_at, :format => :home %></p>
            </div>
            <hr>

            <% end %>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <%= link_to posts_path do %>
                        Starsze posty &rarr;
                    <% end %>
                </li>
            </ul>

        </div>
        <div class="col-lg-6 col-lg-offset-0 text-center team-container col-md-6">
            <%= render "team" %>
        </div>
    </div>
</div>

