<h1 class="sub-header">Team Selections</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Position</th>
        <th>Club</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @team_selections.each do |team_selection| %>
        <tr>
          <td><%= team_selection.id %></td>
          <td><%= team_selection.name %></td>
          <td><%= team_selection.position %></td>
          <td><%= team_selection.club_id %></td>
          <td>
            <%= link_to edit_team_selection_path(team_selection) do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <% end %>
          </td>
          <td>
          <%= link_to team_selection_path(team_selection), method: :delete, data: { confirm: 'Are you sure?'} do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
