<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>

		<% end %>
		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control' %>
		</div>
		

		<div class="form-group">
			<%= f.label :content, "Write your post here" %>
			<%= f.text_area :content, class: 'form-control' %>
		</div>

		


		<%= f.submit 'Submit', class: 'btn btn-default' %>
<% end %>