<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Kasztaniaki", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse main-nav" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to "Home", root_path %>
                </li>
                <li>
                    <%= link_to "Posty", posts_path %>
                </li>
                <li>
                    <%= link_to "O drużynie", about_path %>
                </li>
                <li>
                    <%= link_to "Kontakt", contact_path %>
                </li>
                <% if user_signed_in? %>
                    <li>
                        <%= link_to "Wyloguj", destroy_user_session_path, method: :delete %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
<header class="brand-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Kasztaniaki</h1>
                    <hr class="white">
                    <span class="subheading">Blog o pewnej drużynie FPL</span>
                </div>
            </div>
        </div>
    </div>
</header>